<div class="dashboard-wrapper">
	<div class="container">
		<div class="col-md-8">
			<% if @freelances.empty? %>
				<div class="box box-primary">
					<div class="box-body">
						<p>
							Pas de freelances pour cette recheche!
						</p>
					</div>
				</div>

			<% else %>

				<% @freelances.each do |freelance|  %>
					<div class="box box-primary">
						<div class="box-body">
							

								<div class="user_content">
									
									<div class="col-md-4">
										<div class="user_thumbnail">
											<%= image_tag freelance.avatar.url(:medium) %>
										</div>
									</div>
									<div class="col-md-8">
										<div class="user_name">
											<%= link_to "#{freelance.user_name}" , show_profile_path(freelance) %>
										</div>

										<div class="user_profession">
											<%= profession_title(user_details_profession(freelance.id)) %> 
										</div>

										<div class="user_meta">
											<% unless user_contacts_address(freelance.id).blank? %>
												<span class="user_location">
													<i class="fa fa-globe" aria-hidden="true"></i>
													<%= user_contacts_address(freelance.id) %>
													
												</span>
											<% end %>
										</div>

										<div class="user_short_presentation">
											<%= user_details_presentation(freelance.id).truncate_words(30, omission: '...').html_safe if user_details_presentation(freelance.id).present? %>
										</div>
										<div class="user_skills">
											
										</div>

									</div>



								</div>
							
							
						</div><!-- end box-body -->
					</div><!-- end box-primary -->
				<% end %>
			<% end %>

			<div class="row page_navi">
						<%= will_paginate @freelances, previous_label: "Précédent",next_label: "Suivant",  renderer: BootstrapPagination::Rails %>
							
					</div>
		</div>

		<!-- Sidebar -->
		<div class="col-md-4">
			<%= render("./dashboard/shared/sidebar") %>	
		</div>
	</div>
</div>