<div class="register-box">
  <div class="register-logo">

    <%= render('./shared/logo') %>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Inscrivez-vous gratuitement!</p>

   
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
     <div class="form-group has-feedback">
      <%= f.select :profile_type, User::PROFILE_TYPE, {prompt: "Type de profil"}, class: "form-control" %>
       
      </div>

      <div class="form-group has-feedback">
         <%= f.text_field :login, autofocus: true , class: "form-control", placeholder: "Nom d'utilisateur"%>
       
      </div>
      <div class="form-group has-feedback">
        <!-- <input type="email" class="form-control" placeholder="Email"> -->
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
       
      </div>
      <div class="form-group has-feedback">
        <!-- <input type="password" class="form-control" placeholder="Password"> -->
        <%= f.password_field :password, autocomplete: "off", class: "form-control",  placeholder: "Mot de passe" %>
       
      </div>
      <div class="form-group has-feedback">
        <!-- <input type="password" class="form-control" placeholder="Retype password"> -->
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",  placeholder: "Confirmation du mot de passe" %>
       
      </div>
      <div class="form-group has-feedback">
        
          En vous inscrivant, vous acceptez les <%= link_to "conditions d'utilisations", terms_path %> de la plateforme.
      </div>
        <!-- /.col -->
        <div class="form-group has-feedback">
        
          <!-- <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button> -->
           <%= f.button "S'inscrire", class: "btn btn-primary btn-block",  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Encours..."} %>
        </div>
        <!-- /.col -->
      
   <% end %>

    <div class="social-auth-links text-center">
     <!--  <p>- OU -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a> -->
    </div>

    <p class ="login_has_account text-center">
       Vous avez déjà un compte?
     <%= render "devise/shared/login" %>
    </p>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
