<%= form_with(model: bid, local: true) do |form| %>

    <div class="modal-body">
      

            <div class="form-group">
                <%= form.hidden_field :project_id, value: params[:project] %>
            </div>

        <div class="form-group">
            <%= form.label t("content") %>
            <%= form.bootsy_area :content, id: :bid_content, rows: "6", class: "form-control", placeholder: "Details de l'offre", required: true %>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <%= form.label t("amount") %>
                    <%= form.number_field :amount, id: :bid_amount, class: "form-control", required: true %>
                        
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <%= form.label t("currency_id") %>
                    <%= form.collection_select :currency_id, @currency, :id, :iso_code, {prompt: t("currency_id")}, class: "form-control" %>
                                
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <%= form.label t("time_limit") %>
                    <%= form.text_field :time_limit, id: :bid_time_limit, class: "form-control", required: true %>
                        
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <%= form.label t("time_unity_id") %>
                    <%= form.collection_select :time_unity_id, @time_unity, :id, :title, {prompt: t("time_unity_id")}, class: "form-control" %>
                                
                </div>
            </div>
        </div>
        
      


    </div>

    <div class="modal-footer">
        <%= form.button cu_action_label(form), class: "btn btn-primary",  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Encours..."} %>
        <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
     </div>
       
 
 <% end %>

