				<!-- PRESENTATION -->
				<section class="description">

					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<span class="section_title">
								<h4>
								<span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
								Vous en quelques mots</h4>
							</span>
							<span class="add_button">
								
							</span>
						</div>

						<div class="panel-body">
							<div class="presentation">
								
							</div>
						</div>
					</div>
					
				</section>

				<!-- PORTFOLIO -->
				<section class="description">

					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<span class="section_title">
								<h4>
								<span><i class="fa fa-cubes" aria-hidden="true"></i></span>
								Portfolio</h4>
							</span>
							<span class="add_button">
								<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), new_portfolio_path, remote: true,  class: "btn btn-primary" %>
							</span>
						</div>

						<div class="panel-body">
							<!-- <% #if @portfolios.nil? %> -->
								<h5><i>Rien à afficher pour cette section!</i></h5>
							<!-- <% #else %> -->

							<!--<% @portfolios.each #do |portfolio| %> -->

									<ul>
										<li class="resume_section-content_item" data-role="item" id="employment-4741">
											<div class="resume_section-content_title">
												<!-- <%= portfolio.title %> -->
											</div>
											<div class="resume_section-content_range">
												<span class=period>
													
													
												</span>
							
												

											</div>
											<div class="muted">
												
												<!-- <%= portfolio.description %> -->
											</div>
										</li>
										
										<%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'),root_path, remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
										<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), root_path,:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>

      									
									
									</ul>

								<% end %>
								<% end %>
						</div>
					</div>
					
				</section>


				<!-- VOUS EN QUELQUES MOTS -->
				<section class="description">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<span class="section_title">
								<h4>
								<span><i class="fa fa-puzzle-piece" aria-hidden="true"></i></span>
								Expériences </h4>
							</span>
							<span class="add_button">
								<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), root_path, remote: true, class: "btn btn-primary" %>
							</span>
						</div>
						<div class="panel-body">




							<div class="resume_section-content">

								<!-- <% #if @experiences.nil? %> -->
									<h5><i>Rien à afficher pour cette section!</i></h5>
								<% else %>

								<% @experiences.each do |experience| %>

									<ul>
										<li class="resume_section-content_item" data-role="item" id="employment-4741">
											<div class="resume_section-content_title">
												<%= experience.title %>
											</div>
											<div class="resume_section-content_range">
												<span class=start_period>
													<span><%= experience.start_month %></span>
													<span><%= experience.start_year %> - </span>
												</span>
							
												<span class= "end_period">
													<span><%= experience.end_month %></span>
													<span><%= experience.end_year %></span>
												</span>

											</div>
											<div class="muted">
												
												<%= experience.task %>
											</div>
										</li>
										
										<%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'),edit_experience_path(experience), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
										<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), experience_delete_path(experience),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>
									
									</ul>
								<% end %>

								<% end %>
							</div>


						</div>
					</div>
					
				</section>

				

				<!-- EXPÉRIENCES -->
				<section class="description">

					<div class="panel panel-default">
						<div class="panel-heading clearfix">

							<span class="section_title">
							<h4>
							<span class="section_icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
								Educations</h4>
							</span>
							<span class="add_button">
								<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), new_education_path, remote: true, class: "btn btn-primary" %>
							</span>
						</div>
						<div class="panel-body">
							
							<div class="resume_section-content">

								<% if @educations.nil? %>
									<h5><i>Rien à afficher pour cette section!</i></h5>
								<% else %>

								<% @educations.each do |education| %>
									<ul>
										<li class="resume_section-content_item" id="education-1448">
											<div class="resume_section-content_title is-blue">
													<%= education.title %>
											</div>
											<div class="resume_section-content_subtitle">
												<%= education.school %> -  <%= education.country %>
											</div>
											<div class="resume_section-content_range">
												<span class=period>
													<span><%= education.start_year %> - </span>
													<span><%= education.end_year %>  </span>
												</span>
											</div>
										</li>

										<%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'),edit_education_path(education), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
										<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), education_delete_path(education),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>

										</ul>
								<% end %>
								<% end %>
							</div>
							
						</div>
					</div>

				</section>

				<!-- FORMATIONS & CERTIFICATIONS -->
				<section class="description">

					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<span class="section_title">
							
								<h4>
								<span class="section_icon"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
								Formations & Certifications </h4>
							</span>
							<span class="add_button">
								<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), new_certification_path, remote: true, class: "btn btn-primary" %>
							</span>
						</div>
						<div class="panel-body">

							<% if @certifications.nil? %>
								<h5><i>Rien à afficher pour cette section!</i></h5>
							<% else %>
							<% @certifications.each do |certification| %>

									<ul>
										<li class="resume_section-content_item" data-role="item" id="employment-4741">
											<div class="resume_section-content_title">
												<%= certification.name %>
											</div>
											<div class="resume_section-content_range">
												<span class=start_period>
													<span><%= certification.offer_year %></span>
													
												</span>
							
												

											</div>
											<div class="muted">
												
												<%= certification.description %>
											</div>
										</li>
										
										
										<%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'),edit_certification_path(certification), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
										<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), certification_delete_path(certification),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>

									
									</ul>
								<% end %>
								<% end %>
						</div>
					</div>

				</section>

				<!-- PUBLIGATIONS  -->
				<section class="description">

					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<span class="section_title">
								<h4>
								<span><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
								Publigations </h4>
							</span>
							<span class="add_button">
								<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), new_publigation_path, remote: true, class: "btn btn-primary" %>
							</span>
						</div>
						<div class="panel-body">
							<% if @publigations.nil? %>
								<h5><i>Rien à afficher pour cette section!</i></h5>
							<% else %>
							<% @publigations.each do |publigation| %>

									<ul>
										<li class="resume_section-content_item" data-role="item" id="employment-4741">
											<div class="resume_section-content_title">
												<%= publigation.name %>
											</div>
											<div class="resume_section-content_range">
												<span class=period>
													<span><%= publigation.publigation_year %></span>
													
												</span>
							
												

											</div>
											<div class="muted">
												
												<%= publigation.description %>
											</div>
										</li>
										
										<%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'),edit_publigation_path(publigation), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
										<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), publigation_delete_path(publigation),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>
									
									</ul>
								<% end %>
								<% end %>
						</div>
					</div>

				</section>

				<!-- Trophés -->
				<section class="description">

					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<span class="section_title">
								<h4>
								<span><i class="fa fa-trophy" aria-hidden="true"></i></span>
								Prix & Distinctions </h4>
							</span>
							<span class="add_button">
								<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), new_award_path, remote: true, class: "btn btn-primary" %>
							</span>
						</div>
						<div class="panel-body">
							<% if @awards.blank? %>
								<h5><i>Rien à afficher pour cette section!</i></h5>
							<% else %>
							<% @awards.each do |award| %>

									<ul>
										<li class="resume_section-content_item" data-role="item" id="employment-4741">
											<div class="resume_section-content_title">
												<%= award.name %>
											</div>
											<div class="resume_section-content_range">
												<span class=period>
													<span><%= award.offer_year %></span>
													
												</span>
											</div>

											<!-- -->
											<div class="muted">
												
												<%= award.description %>
											</div>
											<div class="conferring_organization">
												
												<%= award.conferring_organization %>
											</div>
										</li>
										
										<%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'), edit_award_path(award), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
										<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), award_delete_path(award),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>
									
									</ul>
								<% end %>
								<% end %>
						</div>
					</div>

				</section>



				

		

				

				
			