
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

	<div class="row">
		<div class="col-sm-8">
			

			<div class="form-group">
				<%= f.label t(:login) %><br />
				<%= f.text_field :login, autofocus: true, class: "form-control" , placeholder: "Login" , required: true %>
			</div>
			<div class="form-group">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Adresse email" , required: true %>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<div class="thumbnail-preview">
					<%= image_tag current_user.avatar.url(:medium) %>
				</div>

				<div class="change_avatar">
					<%= f.file_field :avatar, class: "filestyle","data-input" => false, "data-icon"=>false,
			 "data-buttonText" =>"Insérer une image", "data-buttonName" => "btn-primary" %>

				</div>
			</div>
		</div>

	</div>


	<div class="row">
		<div class="col-md-12">
			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
			<% end %>

			<div class="form-group">
				<%= f.label :password %> <i>(<%= t(:leave_blank_password) %>)</i><br />
				<%= f.password_field :password, autocomplete: "off",  class: "form-control", placeholder: "Mot de passe"  %>
					<% if @minimum_password_length %>
						<br />
						<em><%= @minimum_password_length %> characters minimum</em>
					<% end %>
			</div>
			<div class="form-group">
				<%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control", placeholder: "Confirmation du mot de passe"  %>
			</div>

			<div class="form-group">
				<%= f.label :current_password %> <i>(<%= t(:type_current_password) %>)</i><br />
				<%= f.password_field :current_password, autocomplete: "off",  class: "form-control", placeholder: "Mot de passe actuel" , required: true %>
			</div>

			<div class="actions">
				<%= f.button "Enregistrer les modifications", class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Enregistrement..."} %>
			</div>

		</div>
	</div>
<% end %>