




<body class="hold-transition lockscreen">
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <%= render('./shared/logo') %>
  </div>
  <!-- User name -->
<div class="help-block text-center">
	Entrer votre adresse E-mail pour recuperer votre mot de passe!
  </div>
  <!-- START LOCK SCREEN ITEM -->
  <div class="lockscreen-item">
    <!-- lockscreen image -->
   
    <!-- /.lockscreen-image -->
      <!-- /.lockscreen-item -->
  


    <!-- lockscreen credentials (contains the form) -->
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "lockscreen-credentials") do |f| %>
  <%= devise_error_messages! %>
      <div class="input-group">
        <!-- <input type="password" class="form-control" placeholder="password"> -->
		<%= f.email_field :email, autofocus: true, class: "form-control",  placeholder: "Email", required: true %>
        <div class="input-group-btn">
        
         <%= f.submit "Envoyer", class: "btn btn-primary" %>
         <!--  <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button> -->
        </div>
      </div>
    <% end %>
    <!-- /.lockscreen credentials -->

  </div>
  <div class="text-center">
   <div>Ou se connecter avec un autre compte?</div>
    <%= render('devise/shared/login') %>
  </div>
  
</div>
<!-- /.center -->


