<%= form_with(model: user_skill, local: false) do |form| %>
<div class="modal-body">
  <div class="form-group">
      <%= form.label t(:skill) %>
      <%= form.collection_select :skill_id,   @skills,  :id, :title , {prompt: "Compétence"}, class: "form-control " %>
    </div>
    <div class="form-group">
      <%= form.label t(:grade) %>
      <%= form.select :grade, Skill::GRADE , {prompt: "Niveau"} , class: "form-control" %>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
      <%= form.submit cu_action_label(form), class: "btn btn-primary pull-right" %>
    </div>
</div>
<% end %>
