<!-- Steps section -->
<section class="categories section">


	<h2 class="section-title  text-center both-padding-3 text-white">Les meilleures catégories de travail</h2>
		<div class="container padding-top-30">
			<div class="row ">
			
			<div class="col-md-12 text-center">
				<div class="home-category-item text-white">
					<div class= "category-icon">
						<%= image_tag "categories/e-commerce-white.svg" %>
					</div>
					<div class="category-title">
						<small>E-commerce</small>
					</div>
				</div>

				<div class="home-category-item text-white">
					<div class= "category-icon">
						<%= image_tag "categories/web-white.svg" %>
					</div>
					<div class="category-title">
						<small>Web</small>
					</div>
				</div>

				<div class="home-category-item text-white">
					<div class= "category-icon">
						<%= image_tag "categories/developpement-white.svg" %>
					</div>
					<div class="category-title">
						<small>Développement</small>
					</div>
				</div>

				<div class="home-category-item text-white">
					<div class= "category-icon text-center">
						<%= image_tag "categories/graphisme-white.svg"  %>
					</div>
					<div class="category-title">
						<small>Graphisme</small>
					</div>
				</div>

				<div class="home-category-item text-white">
					<div class= "category-icon text-center">
						<%= image_tag "categories/services-white.svg" %>
					</div>
					<div class="category-title">
						<small>Services</small>
					</div>
				</div>

				<div class="home-category-item text-white">
					<div class= "category-icon">
						<%= image_tag "categories/webmarketing-white.svg" %>
					</div>
					<div class="category-title">
						<small>Webmarketing</small>
					</div>
				</div>


			</div>
		
			</div>
		</div>
	</div>
</section>

