<%= form_with(model: award, local: false, remote: true) do |form| %>
    <div class="modal-body">

        <div class="form-group">
            <%= form.label t(:title) %>
            <%= form.text_field :title, id: :award_title, class: "form-control", placeholder: t(:title) %>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <%= form.label t(:date_of_obtaining) %>
                    <%= form.date_select :date_of_obtaining, {:discard_day => true, :discard_month => true, :start_year => 1900}, class: "date_select"  %>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="form-group">
                    <%= form.label t(:conferring_organization) %>
                    <%= form.text_field :conferring_organization, id: :award_conferring_organization, class: "form-control", placeholder: t(:conferring_organization) %>
                </div>
            </div>
        </div>
        <div class="form-group">
            <%= form.label t(:description) %>
            <%= form.text_area :description, id: :award_description, class: "form-control", placeholder: t(:description) %>
        </div>
       
       

    </div><!-- end modal-body -->

    <div class="modal-footer">
        <div class="form-group">
            <%= form.button cu_action_label(form), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Encours..."} %>
        </div>
    </div>
<% end %>
