<%= form_with(model: project, local: true) do |form| %>

	<% if project.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

			<ul>
				<% project.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= form.label "Titre de votre projet" %>
		<%= form.text_field :title, id: :project_title, class: "form-control", placeholder: "Titre", required: true %>
	</div>

	<div class="form-group">
		<%= form.label "Décrivez votre projet" %>
		<%= form.text_area :content, id: :project_content, rows: "6", class: "form-control", placeholder: "Description", required: true %>
	</div>


	<div class="form-group">
		<%= form.label t(:category_id) %>
		<%= form.collection_select(:category_id, @all_categories,  :id, :title , {prompt: "Catégorie de projet"}, class: "form-control") %>
		
	</div>
 
	<div class="row">
		<div class="col-md-9">
			<div class="form-group">
				<%= form.label t("budget") %>
				<%= form.select :budget,  Project::BUDGET, {prompt: "Votre budget"}, class: "form-control", required: true %>
										
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<%= form.label t("currency_id") %>
				<%= form.collection_select :currency_id, @currency, :id, :iso_code, {prompt: t("currency_id")}, class: "form-control", required: true %>							
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<%= form.label t(:expire_at) %>
				<%= form.date_field :expire_at, id: :project_expire_at, class: "form-control", required: true %>
			</div>
		</div>
	</div>


	
	<!-- Nested field -->
	<div class="form-group">
		<%= fields_for(@project_skill) do |ps| %>
			<%= ps.label "Compétences recherchées" %>
			<%= collection_select(:skills, :id,  @all_skills, :id, :title, {selected: (@selected_skills.map(&:skill_id) unless @selected_skills.nil?)}, {:id => "skills_update", class: "chosen-select", multiple: true}) %>
		<% end %>
	</div><!-- end nested -->

	<div class="form-group">
		<%= form.button "PUBLIER", class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> PUBLIGATION..."} %>
	</div>
<% end %>
<script>
  $(document).ready(function() {
    $('#category_select').change(function() {
      $.ajax({
        url: "<%= update_skills_path %>",
        data: {
          category_id: $('#category_select').val(),

        },
        dataType: "script",
        cache:true
      });
    });
  });
</script>