<div class="last_projects_wrapper">
	<div class="container">
		<div class="col-md-9">
			<% if @projects.empty? %>
				<div class="box box-primary">
					<div class="box-body">
						<p>
							Pas de projet pour cette recheche!
						</p>
					</div>
				</div>

			<% else %>
				<% @projects.each do |project|  %>
					<div class="box box-primary">
						<div class="box-body">
							

								<div class="project_content">
									<!-- Title -->
									<h2 class="project_title">
										<%= link_to "#{project.title}" , project_show_path(project)  %>
									</h2>

									<!-- Post meta -->
									<div class="project_meta">
										<span class="meta_date">
											<span>
												Exp: <%= project.expire_at.strftime("%d/%m/%Y") %>	
											</span>
										</span><!-- end meta date -->
										<span> - </span>
										<span class="meta_total_bids">
											<span>
												 <%= project_total_bids(project.id) %> offres
											</span>
										</span><!-- end meta total bids -->
										<span> - </span>
										<span class="meta_budget">
											<span>
												Budget: <%= project.budget %>	
											</span>
											<span>	
												<%= project.currency_id %>	
											</span>
										</span><!-- en meta budget -->
										<span> - </span>
										<span class="meta_user">
											<span>
												Par: <%= project_user(project.user_id) %>
											</span>
										</span><!-- end meta user -->
										<span> - </span>
										<span class="meta_status">
											<span class="project_status_<%= project.status.parameterize %>">
												<%= t(project.status) %>
											</span>
										</span>

										<span class="meta_priorite">
											<span class="">
											</span>	
										</span>
									</div><!-- end post meta -->
									
									<!-- Description -->
									<div class="project_description">
										<%= Sanitize.fragment( project.content.truncate_words(45, omission: '...')) %>
									</div>
									<div class="project_skills">
										<% project_skills(project.id) %>
										<% @project_skills.each do |ps| %>
											<span class="btn btn-default"><%= skill_title(ps.skill_id) %></span>
										<% end %>
									</div>
									

								</div>
							

							
							
						</div><!-- end box-body -->
					</div><!-- end box-primary -->
				<% end %>
			<% end %>

			<div class="row page_navi">
						<%= will_paginate @projects, previous_label: "Précédent",next_label: "Suivant",  renderer: BootstrapPagination::Rails %>
							
					</div>
		</div>

		<div class="col-md-3">
			
		</div>
	</div>
</div>