
<div class="container">
	<div class="project_show">
		<div class="col-md-8">
			<div class="box box-primary">
		
				<div class="box-body">
					<div class="project_title">
					  <h2><%= @project.title %></h2>
					</div>

			
					<div class="project_content">
					  <%= @project.content.html_safe %>
					</div> 

					<div class="project_skills">
						<div class="project_skills_title">
							<%= t("skills") %>:
						</div>
						<% @project_skills.each do |ps| %>
							<span class="btn btn-default"><%= skill_title(ps.skill_id) %></span>
						<% end %>
					</div>

				</div>
			</div>
			

			<!-- Bids list -->
			<div class="bids_index">
				<div class="box box-primary">
					<div class="box-header">
						<h1 class="box-title"><%= @total_bids %> offre(s)</h1>
					</div>


					<div class="box-body">
						<%= render './bids/index' %>
					</div>
						 
	        
				</div><!-- end box -->
			</div>
		</div><!-- end col -->



		<!-- Start col -->
		<div class="col-md-4">
			<% if can_post_bid?(current_user.id, @project.id)   %>
				<div class="box box-primary">
					
					<div class="box-body">
						
						<%= link_to "Faire une offre", new_bid_path(project: @project.id), :remote => true, class: "btn btn-primary btn-block post_bid", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Encours..."} %>
						
					</div>
				</div>

			<% end %>


			<!-- Bids -->

			<div class="box box-primary">
				<div class="box-header with-border">
					<h1 class="box-title">Détails</h1>
				</div>
				<div class="box-body">
					<div class="meta project_user">
						
						<span>
							<i>Auteur:</i>
						</span>
						<span><%= project_user(@project.user_id) %></span>
					</div>
					<div class="meta project_published">
						<span>
							<i>Publigation:</i>
						</span>
						<span>
							<%= @project.created_at.strftime("%d/%m/%Y") %>
						</span>
					</div>
					<div class="meta project_published">
						<span>
							<i>Expiration:</i>
						</span>
						<span>
							<%= @project.expire_at.strftime("%d/%m/%Y") %>
						</span>
					</div>

					<div class="meta project_budget">
						<span>
							<i>Budjet:</i>
						</span>
						<span>	
							<%= number_with_precision(@project.budget, delimiter: " ", separator: "", precision: 0) %>	
						</span>
						<span>
							<%= @project.currency_id %>
						</span>
					</div>

					<div class="meta project_view">
						<span>
							<i>Vue(s):</i>
						</span>
						<span>	
							<%= @project.view_number %>	
						</span>
						<span>
							vue(s)
						</span>
					</div>

				</div>
			</div><!-- end box -->	

			<!-- Social share -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h1 class="box-title">
						Partager
					</h1>
				</div>
				<div class="box-body">
					<%= social_share_button_tag(@project.title,  url: project_show_url(@project), desc: @project.content, :image => "public/images/social/slatejob") %>
				</div>
				
			</div>
		</div><!-- end col -->
	</div>
</div>

<div id="bid_modal" class="modal fade"></div>
