<% if @certifications.nil? %>
                <h5><i>Rien à afficher pour cette section!</i></h5>
              <% else %>
              <% @certifications.each do |certification| %>

                  <ul>
                    <li class="resume_section-content_item" data-role="item" id="employment-4741">
                      <div class="resume_section-content_title">
                        <%= certification.title %>
                      </div>
                      <div class="resume_section-content_range">
                        <span class=start_period>
                        <span><%= l(certification.date_of_obtaining, format: '%Y') %></span>
                          
                          
                        </span>
              
                        

                      </div>
                      <div class="muted">
                        
                        <%= certification.description %> -
                         <%= certification.description %>
                      </div>
                    </li>
                    
                    
                    <%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'),edit_certification_path(certification), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
                    <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), certification_delete_path(certification),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>

                  
                  </ul>
                <% end %>
                <% end %>