<div class="container main-container">

    <div class="clearfix"></div>
    <% if @employers.empty? %>
        <div class="box box-primary">
            <div class="box-body">
                <p>
                    Pas d'employeurs pour cette recheche!
                </p>
            </div>
        </div>

    <% else %>

        <% @employers.each do |employer|  %>
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="profile text-center">
                               
                                <%= image_tag employer.avatar.url(:medium), class: "img-circle" %>

                               <div class="user-name">
                                    <%= link_to "#{employer.profile.full_name}" , show_employer_profile_path(employer) %>   
                                </div>
                                <div class="user-profession">
                                    <%= profession_title(employer.profile.profession_id) %> 
                                </div> 
                                <div class="user_location">
                                    <%= employer.profile.address %>
                                        
                                    </div>
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    <div class="row page_navi">
                        <%= will_paginate @employers, previous_label: "Précédent",next_label: "Suivant",  renderer: BootstrapPagination::Rails %>
                            
                    </div>
</div>