<div class="container main-container">
    <div class="col-md-12">
        <div class="users-search-content">
            <div class="box box-primary">
                <div class="box-body">
                   <%= form_with url: '/search', method: :get, local: true do |f| %>
                        <div class="col-md-10">
                            <div class="form-group">
                                <%= f.text_field :q, id: :q, class: "form-control", placeholder: "Rechercher par ville, pays ou domaine..." %>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <%= f.submit "GO", class: "btn btn-primary btn-block" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <% if @workers.empty? %>
        <div class="box box-primary">
            <div class="box-body">
                <p>
                    Pas de freelances pour cette recheche!
                </p>
            </div>
        </div>

    <% else %>

        <% @workers.each do |worker|  %>
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="profile text-center">
                               
                                <%= image_tag worker.avatar.url(:medium), class: "img-circle" %>

                               <div class="user-name">
                                    <%= link_to "#{worker.profile.full_name}" , show_worker_profile_path(worker) %>   
                                </div>
                                <div class="user-profession">
                                    <%= profession_title(worker.profile.profession_id) %> 
                                </div> 
                                <div class="user_location">
                                    <%= worker.profile.address %>
                                        
                                    </div>
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    <div class="row page_navi">
                        <%= will_paginate @workers, previous_label: "Précédent",next_label: "Suivant",  renderer: BootstrapPagination::Rails %>
                            
                    </div>
</div>