<div class="container main-container">
    <div class="col-md-12">
        <div class="users-search-content">
            <div class="box box-primary">
                <div class="box-body">
                   <%= form_with url: search_workers_path, method: :get, local: false do |f| %>
                        <div class="col-md-10">
                            <div class="form-group">
                                <%= f.text_field :q, id: :q, class: "form-control", placeholder: "Rechercher par ville, pays ou domaine..." %>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <%= f.submit "GO", class: "btn btn-primary btn-block" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="search-result">
        <%= render("workers/partials/result") %>
    </div>
    <div class="row page_navi">
        <%= will_paginate @workers, previous_label: "Précédent",next_label: "Suivant",  renderer: BootstrapPagination::Rails %>
                            
    </div>
</div>