<div class="box box-primary">
	<div class="box-body">
		<div class="profile-card">
			<div class="profile-card-head">
				<div class="card-cover"></div>
				<div class="profile-pic">
					<figure>
						 <%= image_tag current_user.avatar.url(:medium) %>   
					</figure>
					<div class="profile-user-info">
						
						<h4>
							<b><%= link_to "#{current_user.profile.full_name}" , show_worker_profile_path(current_user) %></b>
						</h4>
						<p>
							<%= link_to "Mettez à jour votre profil ", show_worker_profile_path(current_user) %>
						</p>
					</div>
				</div>
			</div>
			<div class="profile-card-info">
				<ul class="profile-info-list">
					
					<li>
						<div class="profile-views">
							<a href="#">
								<small>Vues</small>
								<span class="p-views">
									<% if current_user.view_number.nil? %>
									0
									<% else %>
										<%= current_user.view_number %>
									<% end %>
										
								</span>
							</a>              
						</div>
					</li>
					<li>
						<div class="profile-connections">
							<a href="#">
								<small>Relations</small>
								<span class="p-connections">0</span>
							</a>        
						</div>
					</li>

					
				</ul>
			</div>
		</div>
	</div>
</div>




<!-- Bids -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h4 class="box-title">Adhésion</h4>
	</div>
	<div class="box-body">
		
		<div class="user-membership">
					
			<div class="col-md-5">
				<div class="remaining-bids">
					<small>Offres restantes</small>
					<span class="p-views">
						8/8		
					</span>
				</div>         

			</div>
			<div class="col-md-7">
				<div class="membership">
					<small>Membre débutant(e)</small>
					<span class="p-button">
						<%= link_to "Mettre à jour", membership_upgrade_path, class: "btn btn-primary" %>
					</span>
				</div>
			</div>		
		</div>
	</div>
</div>

