
  <!-- Menu toggle button -->
  <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown">
      <span>
        <i class="fa fa-comments-o" aria-hidden="true"></i><%= t(:messages) %>
      </span>
      <span class="label notifications">
        <%= unread_message %>
      </span>
  </a>

  <ul class="dropdown-menu">
      <li class="header">
          <b><%= t(:messages) %></b>
      </li>

      <li>
          <!-- Inner Menu: contains the notifications -->
          <div class="slimScrollDiv">
              <ul class="menu">

                  <% unless @messages.blank? %>
                      <% @messages.each do |n| %>
                          <li class="new"><!-- start notification -->
                              <%= link_to(read_message_path(id: n.id)) do %>

                                  <span>
                                      <b><%= user_instead(n.sender_id).login.capitalize %></b>
                                  </span> 
                                  <span>
                                      vous a envoyé un message!     
                                  </span>
                                  <br />
                                  <small>
                                      <%= time_ago_in_words(n.created_at) %> 
                                  </small>
                              <% end %>
                          </li><!-- end notification -->
                      <% end %>

                      <% else %>

                      <li class="new"><!-- start notification -->
                          <div class="no-notification">
                              <div class="col-sm-12"><i>Aucune notification!</i></div>
                          </div>
                      </li><!-- end notification -->

                  <% end %>  

              </ul><!-- end notification -->
          </div>
      </li>
  </ul><!-- end notification -->
