<!DOCTYPE html>
<html>
  <head>
    <title>Slatejob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDRxpYSfeVzq75bkQQYdxGUhhAREUgFcaw&libraries=places"></script>

  </head>

  <body class="page-wrapper">
  	<%= render('layouts/partials/dheader') %>

  
    <%= component :alert, type: "danger", message: "Attention! Votre profil est incomplet, augmentez votre chance en completant votre profil. " , link: raw(link_to('Je veux compléter mon profil', edit_profile_path(current_user), class: "alert-link")) if uncomplete_profile? %>
    <%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>

    <%= yield %>

      <%= render('layouts/partials/footer') %>
  </body>
</html>
