<!DOCTYPE html>
<html>
  <head>
    <title>Slatejob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-wrapper">
  	<%= render('layouts/partials/dheader') %>
      <% if notice %>
      <div id="notice_wrapper">

        <p class="alert alert-success"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="alert_wrapper">
        <p class="alert alert-danger"><%= alert %></p>
      </div>
  <% end %>

    <%= yield %>

      <%= render('layouts/partials/footer') %>
  </body>
</html>
