<!DOCTYPE html>
<html>
  <head>
    <title>Slatejob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="hold-transition login-page">
  	
<%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>
    <%= yield %>

     
  </body>
</html>
